button{
    background-color: rgba(167, 16, 16, 0.86);
    color: white;
    padding: 5px 16px;
    border-radius: 6px;
    border: none;
}
button:hover{
    cursor: pointer;
    background-color: rgba(167, 16, 16, 0.7) ;
    color: white;
}