.menu .menunavbar {
    display: flex;
    gap: 20px;
}
.menu .menunavbar .link{
  border: 2px solid  rgba(167, 16, 16, 0.86);
  border-radius: 20px;
  padding: 5px 20px;
  text-decoration: none;
  
}
.menu .menunavbar .link:hover{
    cursor: pointer;
    background-color:rgba(167, 16, 16, 0.86) ;
    color: white;
}
.menu .menudivder{
    margin-top: 10px;
    width: 98%;
    height: 2px;
background-color:lightgrey;
    border-radius: 2px;
}